/*  your css code here. If applicable */
div{
	position:absolute;
	top:50%;
	left:50%;	
	background-color:lightblue;
	width:200px;
	height:200px;
	border: 2px;
	border:solid black;
	display: flex;
    align-items: center;
	justify-content:center;
	transform: translate(-50%, -50%);
}

span{
	  color: purple;
      font-size: 18px;
      font-weight: bold;
}